salesforce-composite-resource-impl/src/main/mule/salesforce-composite-batch-request-features-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd">
	<flow name="salesforce-composite-batch-resources-implFlow" doc:id="cd5af5d6-78cc-468b-be26-95583fdf9d15" >
		<http:listener doc:id="9eee485f-6d6e-41d0-a2d2-7a6e86b57eae" path="/demo/compositeBatchReq" config-ref="HTTP_Listener_config_demo" allowedMethods="POST">
			<http:error-response statusCode="#[vars.httpStatus]" >
				<http:body ><![CDATA[#[output application/json 
---
payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="LOG: Flow start" doc:id="1cf7efbd-88b2-41c1-8fc1-eeb36f5c0d4d" message='#["Starting flow to demonstrate composite batch"]'/>
		<logger level="INFO" doc:name="LOG: input payload" doc:id="26c49c68-0ff7-4592-abf8-450aaefef29e" message="#[payload]"/>
<!-- [STUDIO:"prepare-composite batch-request"]		<ee:transform doc:name="prepare-composite batch-request" doc:id="ac86802d-53e5-456b-9c4b-c63d03bef4a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	"batchRequest": [
//		{
//		"method": "POST",
//		"url": "/services/data/v58.0/composite/sobjects",
//		"richInput": {
//			"allOrNone": false,
//			"records": [{
//				"attributes": {
//					"type": "Quote_841651__c"
//				},
//				"accountId__c": "001J1000003DvZkIAK",
//				"contactId__c": "003J1000001FTuwIAG",
//				"description__c": "random description",
//				"serialNumber__c": "POD002",
//				"quoteToAddress__c": "some_address"
//			}&#93;
//		}
//	},
	{
		"method": "PATCH",
		"url": "/v58.0/sobjects/Quote_841651__c/serialNumber__c/POD003",
		richInput: {
				"accountId__c": "001J1000003DvZkIAK",
				"contactId__c": "003J1000001FTuwIAG",
				"description__c": "random description3",
				"quoteToAddress__c": "some_address3"
		}
	},
	{
		"method": "GET",
		"url": "/v58.0/sobjects/Quote_841651__c/a0GJ1000001HyqP?fields=accountId__c,contactId__c,quoteToAddress__c,description__c,serialNumber__c"
	},
	{
		"method": "GET",
		"url": "/services/data/v58.0/queryAll?q=Select+serialNumber__c+,+description__c+,+contactId__c+,+quoteToAddress__c+From+Quote_841651__c"
	}&#93;
}&#93;&#93;></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<salesforce-composite:execute-composite-batch doc:name="Execute composite batch" doc:id="d7e666dc-8b5b-4a83-b0ff-7ec4b4e40828" config-ref="Salesforce_Composite_Config_demo2">
			<reconnect />
			<salesforce-composite:sub-requests ><![CDATA[#[%dw 2.0
output application/java
---
payload.batchRequests]]]></salesforce-composite:sub-requests>
		</salesforce-composite:execute-composite-batch>
		<ee:transform doc:name="Extract response" doc:id="8c4bdcfe-415c-40cc-8a94-d19ed385b3bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var operationCount = sizeOf(payload.results)
var errorOperations= sizeOf(payload.results.statusCode filter ((status) -> status > 299))
---
{
    "meta":{
        "statusCode": if(operationCount == errorOperations) "500" else "200",
        "correlationId": uuid(),
        "operationCount": {
        "total": operationCount,
        "successful": operationCount - errorOperations,
        "failure": errorOperations
        }
        
    },
    "data":{
        "responses": payload.results map ((result) ->{
            "statusCode": result.statusCode,
            "response": result.result
        } )
    }
    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.meta.statusCode]" doc:name="Set httpStatus" doc:id="974585bd-2517-4c81-8eae-832864b5bd6f" variableName="httpStatus"/>
		<logger level="INFO" doc:name="LOG: Flow end" doc:id="6f03292d-b41a-456f-af0f-56dcfefc59b8" message='#["Flow completed to demonstrate composite batch"]'/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6f3a230e-3301-48df-a5ca-af4ab3890eaa" >
				<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;if (error.errorType.asString contains "SALESFORCE-COMPOSITE:INVALID_SESSION") "401"&#10;else "500"]' doc:name="Set httpStatus" doc:id="41556b28-c7a1-4b53-976a-9471e0db1f20" variableName="httpStatus"/>
				<ee:transform doc:name="Set Error Payload" doc:id="3034e98a-4548-4ca7-8e8c-fa01ff2dd4ec" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"meta": {
		"statusCode": vars.httpStatus,
		"correlationId": correlationId,
		"applicationName": app.name
	},
	"error":{
		"code": error.errorType.asString,
		"description": error.description
	}
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
				<logger level="ERROR" doc:name="Error Logger" doc:id="2a7a4cae-fddf-4bad-91d5-8d84c67ab261" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{	&#10;	"error":{&#10;		"code": error.errorType.asString,&#10;		"description": error.description&#10;	}&#10;}]'/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<!-- <flow name="salesforce-composite-batch-resources-implFlow1" doc:id="39f13004-44cd-4299-9e26-478b6147caae" >
		<http:listener doc:name="Listener" doc:id="960d403d-fe92-475c-93f0-66671263c8b6" config-ref="httpListenerConfig" path="/step1"/>
		<ee:transform doc:name="Transform Message" doc:id="b0cd82bf-98ee-4872-ac33-3c3cd27f8ae4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
{
   "allOrNone" : false,
   "records" : [{
      "attributes" : {"type" : "Quote_841651__c"},
      "accountId__c" : "001J1000003DvZkIAK",
      "contactId__c" : "003J1000001FTuwIAG",
      "description__c": "random description",
      "serialNumber__c": "POD002",
      "quoteToAddress__c": "some_address"
      
   }]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce-composite:create-sobject-collections doc:name="Create sobject collections" doc:id="9c35cfa0-4388-497f-b621-d1bdcd6af6bd" config-ref="salesforceCompositeOauthUsernamePasswordConfig"/>
	</flow> -->
</mule>