salesforce-composite-resource-impl/src/main/mule/salesforce-composite-request-features-demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd">
	<salesforce-composite:composite-config name="Salesforce_Composite_Config_demo1" doc:name="Salesforce Composite Config" doc:id="f883709d-60a5-49aa-9120-e775a2cde7c4" >
		<salesforce-composite:oauth-user-pass-connection consumerKey="${sfdc.consumer.key}" consumerSecret="${sfdc.consumer.secret}" username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.security.token}" tokenEndpoint="${sfdc.token.endpoint}" />
	</salesforce-composite:composite-config>
	<http:listener-config name="HTTP_Listener_config_demo1" doc:name="HTTP Listener config" doc:id="f6517c3d-6337-4ed6-99ae-98529ce5d2b1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="salesforce-composite-request-features-demo1Flow" doc:id="8215024b-92a6-4718-9080-1c98ea8404e0" >
		<http:listener doc:name="Listener" doc:id="11e4f89b-bcc1-4504-a8be-fc18fed97f66" config-ref="HTTP_Listener_config_demo1" path="/demo/compositeReqDemo1"/>
		<set-variable value="#[payload]" doc:name="fetch-composite-request" doc:id="7b615bbb-ce88-4ae6-9533-8d01babd6b2e" variableName="varCompositeRequest"/>
		<salesforce-composite:execute-composite-request doc:name="Execute composite request" doc:id="22b7d36f-df57-44c6-8f18-2e352ecc3ef8" config-ref="Salesforce_Composite_Config_demo1">
			<salesforce-composite:request-body ><![CDATA[#[vars.varCompositeRequest]]]></salesforce-composite:request-body>
		</salesforce-composite:execute-composite-request>
		<ee:transform doc:name="sfdc-composite-response" doc:id="59a7755b-7774-4502-9936-6b0b82e3e162" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="log-sfdc-composite-response" doc:id="b55d233e-d1a5-4db8-813f-bfb7052b7014" message="SFDC Composite Response::#[payload]"/>
	</flow>
</mule>
